@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@theme {
    --font-sans: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

html,
body {
    background-color: #F5F5F2;
    font-family: var(--font-sans);
}